OPENAI_API_KEY=""
OPENAI_BASE_URL=""
OPENAI_MODEL=""
OPENAI_TEMPERATURE=""

LLM_CALL_RETRY_ATTEMPT=""
LLM_CALL_RETRY_MIN_WAIT=""
LLM_CALL_RETRY_MAX_WAIT=""
LLM_CALL_REQUEST_TIMEOUT=""

POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_HOST=""
POSTGRES_PORT=""
POSTGRES_DB=""
LOG_LEVEL=""

WIKIPEDIA_SEARCH_URL=""
WIKIPEDIA_PROXY_URL=""
WIKIPEDIA_REQUEST_TIMEOUT_SECONDS=""
WIKIPEDIA_REQUEST_RETRY_ATTEMPT=""
WIKIPEDIA_REQUEST_RETRY_MIN_WAIT=""
WIKIPEDIA_REQUEST_RETRY_MAX_WAIT=""
WIKIPEDIA_SEARCH_RESULT_LIMIT=""
WIKIPEDIA_USER_AGENT=""

GUARDRAIL_PROMPT=""
GUARDRAIL_BLOCKED_MESSAGE=""

NER_PROMPT=""

AGENT_PROMPT=""
